$yellow: #f0cf20;
$blue: #0f132b;

// Domus Titling Regular

// font-family: jaf-domus-titling-web, sans-serif;

// font-weight: 400;

// font-style: normal;

// Domus Titling Extralight

// font-family: jaf-domus-titling-web, sans-serif;

// font-weight: 200;

// font-style: normal;

// Domus Titling Medium

// font-family: jaf-domus-titling-web, sans-serif;

// font-weight: 500;

// font-style: normal;

body {
  font-family: "eesti";
  font-size: 16px;
  background: #000;
  color: #eee;
  // pointer-events: none;
}

.container {
  padding: 0;
  width: 100%;
  // height: 600vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  overflow-x: hidden;
  // pointer-events: none !important;
}

.text {
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.7;
  font-size: 32px;
  text-transform: uppercase;
}

.text-beau {
  font-family: "Moniqa";
  font-size: 74px;
  text-transform: uppercase;
  color: #fff;
}

// LOCOMOTIVE
html.has-scroll-smooth {
  overflow: hidden;
}

@media (max-width: 750px) {
  .container {
    padding: 0 24px;
  }
}
