.header {
  position: relative;
  width: 100%;
  height: 180vh;
  .title {
    position: absolute;
    z-index: 2;
    top: 50vh;
    left: 2%;
    transform: translate3d(0, -50%, 0);
    font-family: "Moniqa";
    font-size: 74px;
    text-transform: uppercase;
    color: red;

    text-align: center;
  }

  .info {
    position: absolute;
    top: 95vh;
    right: -10px;
    transform: translateX(-50%);
    text-align: center;
    opacity: 1;
    letter-spacing: 0.5px;
    opacity: 0.7;
  }
  .desc {
    font-family: "Moniqa";
    font-size: 74px;
    text-transform: uppercase;
    color: #fff;

    position: absolute;
    top: 178vh;
    left: 2%;
    width: 100%;
    opacity: 1;
  }
  .desc-2 {
    transform: translateY(80%);
    opacity: 0.14;
  }
  .desc-3 {
    transform: translateY(164%);
    opacity: 0.07;
  }
  .desc-4 {
    transform: translateY(182%);
    opacity: 0.03;
  }
}
