.lines {
  width: 100%;
  padding-top: 700px;
  position: relative;
  margin-bottom: 100vh;
  // background: linear-gradient(to bottom, transparent 0%, $blue 70%, transparent 95%);
  .moon__container {
    img {
      margin-left: 80vw;
      width: 40px;
      opacity: 0.4;
    }
  }

  .intro-1 {
    font-family: "Nimbus";
    margin-left: 3vw;
    text-transform: uppercase;
    position: relative;
    #play {
      display: inline-block;
      position: relative;
      margin-right: -48.9px;
      margin-left: 6px;
      svg {
        transform: translate3d(-29px, 70%, 0);
      }
    }
  }

  .rain-1 {
    position: absolute;
    top: 130vh;
    left: 30px;
  }
  .rain-2 {
    position: absolute;
    top: 220vh;
    left: 70vw;
  }
  .rain-3 {
    position: absolute;
    top: 350vh;
    left: 7vw;
  }

  .text-big {
    font-size: 80px;
  }
  .text-1 {
    margin-top: 50vh;
    margin-left: 10vw;
    font-size: 140px;

    span {
      margin-left: 55px;
    }
    opacity: 0.8;
  }
  .text-2 {
    margin-top: 10vh;
    margin-left: 35vw;
    font-size: 180px;
    opacity: 0.7;
    span {
      margin-left: 205px;
    }
    opacity: 0.7;
  }

  .text-3 {
    margin-top: 0vh;
    margin-left: 4vw;
    opacity: 1;
    font-size: 140px;

    span {
      margin-left: 205px;
    }
  }

  .text-4 {
    margin-top: 20vh;
    margin-left: 2vw;
    font-size: 180px;

    opacity: 1;
  }

  .text-5 {
    margin-top: 35vh;
    margin-left: 10vw;
    font-size: 120px;
  }
  .rain {
    line {
      stroke: #fff;
    }
  }
}
