.lines {
  width: 100%;
  padding-top: 700px;
  position: relative;
  margin-bottom: 100vh;
  // background: linear-gradient(to bottom, transparent 0%, $blue 70%, transparent 95%);
  .moon__container {
    img {
      margin-left: 80vw;
      width: 40px;
      opacity: 0.4;
    }
  }

  .intro-1 {
    font-family: "Nimbus";
    margin-left: 3vw;
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    position: relative;
    #play {
      display: inline-block;
      position: relative;
      margin-right: -48.9px;
      margin-left: 6px;
      svg {
        transform: translate3d(-29px, 70%, 0);
      }
    }
  }

  .rain-1 {
    position: absolute;
    top: 130vh;
    left: 30px;
  }
  .rain-2 {
    position: absolute;
    top: 220vh;
    left: 70vw;
  }
  .rain-3 {
    position: absolute;
    top: 350vh;
    left: 7vw;
  }

  .text-big {
    font-size: 80px;
  }
  .text-1 {
    color: #435758;
    margin-top: 50vh;
    margin-left: 10vw;
    span {
      margin-left: 55px;
    }
    opacity: 0.8;
  }
  .text-2 {
    color: #3781b1;
    margin-top: 50vh;
    margin-left: 20vw;
    span {
      margin-left: 205px;
    }
    opacity: 0.7;
  }

  .text-3 {
    color: #293e80;
    margin-top: 50vh;
    margin-left: 20.5vw;
    opacity: 1;
    span {
      margin-left: 205px;
    }
  }

  .text-4 {
    color: #4320a2;
    margin-top: 60vh;
    margin-left: 24vw;
    opacity: 1;
  }

  .text-5 {
    color: #480268;
    margin-top: 85vh;
    margin-left: 50vw;
  }
  .rain {
    line {
      stroke: #9e3071;
    }
  }
}
