.reverse {
  padding-bottom: 100vh;
  .god {
    color: #2070f0;
    font-size: 120px;
    margin-top: 800vh;
    transform: translateX(100vw);
  }

  .catch {
    margin-top: 50vh;
    margin-bottom: 150vh;
    font-size: 180px;
    color: #fff;
  }
  .crying {
    margin-right: 40vw;
    transform: rotate(180deg);
    margin-bottom: 10vh;
    opacity: 0.2;
  }
  .god-reversed {
    color: #2070f0;
    font-size: 120px;
    margin-right: 50px;
    transform: rotate(150deg);
  }
  .catch-reverse {
    font-size: 180px;
    color: #fff;
    transform: translateY(-40%) rotate(180deg);
    opacity: 0.05;
  }
}
