.reverse {
  .god {
    color: #2070f0;
    font-size: 120px;
    margin-top: 800vh;
    transform: translateX(100vw);
  }

  .catch {
    margin-top: 50vh;
    margin-bottom: 450vh;
    font-size: 80px;
    color: #272a2f;
  }
}
